@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --orange:#ffc400;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none; border:none;
  text-decoration: none;
  transition: all .2s linear;
}

*::selection{
  background:var(--orange);
  color:#333;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section{
  padding:2rem 9%;
}

.heading{
  text-align: center;
  padding:2.5rem 0
}

.heading span{
  font-size: 3.5rem;
  background:rgba(255, 165, 0,.2);
  color:var(--orange);
  border-radius: .5rem;
  padding:.2rem 1rem;
}

.heading span.space{
  background:none;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  background:var(--orange);
  color:#fff;
  padding:.8rem 3rem;
  border:.2rem solid var(--orange);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover{
  background:rgba(255, 165, 0,.2);
  color:var(--orange);
}

/* css header */
header{
  position: fixed;
  top:0; left: 0; right:0;
  background: #333;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
}

header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color:#fff;
  text-transform: uppercase;
}

header .logo span{
  color:var(--orange);
}

header .navbar a{
  color:#fff;
  font-size: 2rem;
  margin:0 .8rem;
}

header .navbar a:hover{
  color:var(--orange);
}

header .icons i{
  font-size: 2.5rem;
  color:#fff;
  cursor: pointer;
  margin-right: 2rem;
}

header .icons i:hover{
  color:var(--orange);
}

header .search-bar-container{
  position: absolute;
  top:100%; left: 0; right:0;
  padding:1.5rem 2rem;
  background:#333;
  border-top: .1rem solid rgba(255,255,255,.2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar{
  width:100%;
  padding:1rem;
  text-transform: none;
  color:#333;
  font-size: 1.7rem;
  border-radius: .5rem;
}

header .search-bar-container label{
  color:#fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}

header .search-bar-container label:hover{
  color:var(--orange);
}

#menu-bar{
  color:#fff;
  border:.1rem solid #fff;
  border-radius: .5rem;
  font-size: 3rem;
  padding:.5rem 1.2rem;
  cursor: pointer;
  display: none;
}

/* css home */
.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}

.home .content{
  text-align: center;
}

.home .content h3{
  font-size: 4.5rem;
  color:#fff;
  text-transform: uppercase;
  text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}

.home .content p{
  font-size: 2.5rem;
  color:#fff;
  padding:.5rem 0;
}

.home .video-container .mySlides video{
  position: absolute;
  top:0; left: 0;
  z-index: -1;
  height: 100%;
  width:100%;
  object-fit: cover;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #ffc400;
}

/* css login */
.login-form-container{
  position: absolute;
  top:-120%; 
  left: 50%;
  z-index: 10000;
  transform: translate(-50%, 35%);
  width: 320px;
  height: 400px;
  background:linear-gradient(100deg, #f7ae41, #f56262);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  /* opacity: 0.8; */
}

.login-form-container.active{
  top:0;
}

.login-form-container h1 {
  color: white;
  font-family: Tahoma;
  text-align: center;
  font-size: 2.5rem;
  padding: 5px 10px 10px 10px;
  border-bottom: 1px solid rgb(173, 115, 6);
}

.login-form-container form{
  padding: 10px 40px;
  box-sizing: border-box;
}

.login-form-container form label{
  font-size: 1.5rem;
}

.login-form-container input[type="text"], .login-form-container input[type ="password"]{
  border: 0;
  display: block;
  margin: 10px 20px 30px 10px;
  text-align: center;
  border: 2px solid #f15c48;
  border-radius: 25px;
  padding: 7px 10px;
  height: 30px;
  width: 225px;
  outline: none;
  color: black;
  transition: .5s;
}

.login-form-container input[type="text"]:focus, .login-form-container input[type ="password"]:focus{
  width: 240px;
  border-color: rgb(29, 236, 22);
}

.login-form-container input[type="submit"]{
  border: 0;
  display: block;
  margin: 20px auto;
  text-align: center;
  background-color:#f3951a;
  border: 2px solid #e73326;
  border-radius: 30px;
  padding: 5px 10px;
  box-sizing: border-box;
  height: 35px;
  width: 30%;
  outline: none;
  color: black;
  font-family: Verdana;
  font-size: 16px;
  transition: .5s;
  cursor: pointer;
}

.login-form-container input[type="submit"]:hover{
  background-color: #23f31c;
}


p.login-form-container form p{
  padding:.5rem 0;
  font-size: 1.5rem;
  color:#666;
}

.login-form-container form p a{
  color:rgb(241, 9, 9);
}

.login-form-container form p a:hover{
  color:rgb(26, 245, 37);
  text-decoration: underline;
}

.login-form-container #form-close{
  position:absolute;
  top:1rem; right:2rem;
  font-size: 2rem;
  color:#fff;
  cursor: pointer;
}

/*css booking*/
.book .row{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  align-items: center;
}

.book .row .image{
  flex:1 1 40rem;
}

.book .row .image img{
  width:100%;
}

.book .row form{
  flex:1 1 40rem;
  padding:2rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
}

.book .row form .inputBox{
  padding:.5rem 0;
}

.book .row form .inputBox input{
  width:100%;
  padding:1rem;
  border:.1rem solid rgba(0,0,0,.1);
  font-size: 1.7rem;
  color:#333;
  text-transform: none;
}

.book .row form .inputBox h3{
  font-size: 2rem;
  padding:1rem 0;
  color:#666;
}

/*css packages*/
.box {
  float:left;
  width: 30%;
  padding: 10px;
  flex:content;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.packages .row .box img{
  height: 30rem;
  width:100%;
  object-fit: cover;
}

.packages .row .box .content .stars i{
  font-size:1.7rem;
  color:var(--orange);
}

.packages .row .box .content .price{
  font-size: 2rem;
  color:#333;
  padding-top: 1rem;
}

.packages .row .box .content .price span{
  color:#666;
  font-size: 1.5rem;
  text-decoration: line-through;
}

.packages {
  width: 110%;
}

.packages .heading {
  width: 90%;
}

.packages .row .box .content h3{
  font-size:2rem;
  color:#333;
}

.packages .row .box .content h3 i{
  color:var(--orange);
}

.packages .row .box .content p{
  font-size:1.7rem;
  color:#666;
  padding:1rem 0;
}

/*css services*/
#myBtnContainer {
  text-align: center;
}

.row-services,
.row-services > .column-services {
  padding: 8px;
}

.column-services {
  float: left;
  width: 33.33%;
  display: none; 
}

.row-services:after {
  content: "";
  display: table;
  clear: both;
}

.content-services {
  background-color: white;
  padding: 10px;
}

.content-services img{
  width: 300px; 
  height:300px;
}

.content-services h4{
  font-size:2rem;
  color:#333;
}

.content-services p{
  font-size:1.5rem;
  color:#666;
  padding:1rem 0;
}
.show {
  display: block;
}

.btn_services {
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 1rem;
  background:var(--orange);
  color:#fff;
  padding:.8rem 3rem;
  font-size: 1.7rem;
}

.btn_services:hover {
  background-color: #ddd;
}

.btn_services.active {
  background-color: #666;
  color: white;
}

/*css gallery*/
.container-gallery {
  position: relative;
}

/* Hide the images by default */
.mySlides-gallery {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev_photo,
.next_photo {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next_photo {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev_photo:hover,
.next_photo:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
  font-size: 2rem;
}

.row-gallery:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column-gallery {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* css footer */
.footer{
  background: #333;
}

.footer .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.footer .box-container .box{
  padding:1rem 0;
  flex:1 1 10rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  padding:.7rem 0;
  color:#fff;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  padding:.7rem 0;
  color:#eee;
}

.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  padding:.7rem 0;
  color:#eee;
}

.footer .box-container .box a:hover{
  color:var(--orange);
  text-decoration: underline;
}

.footer .credit{
  text-align: center;
  padding:2rem 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: normal;
  color:#fff;
  border-top: .1rem solid rgba(255,255,255,.2);
}

.footer .credit span{
  color:var(--orange);
}
















/* media queries  */

@media (max-width:1200px){

  html{
    font-size: 55%;
  }

}

@media (max-width:991px){

  header{
    padding:2rem;
  }

  section{
    padding:2rem;
  }

}

@media (max-width:768px){

  #menu-bar{
    display: initial;
  }

  header .navbar{
    position: absolute;
    top:100%; right:0; left: 0;
    background: #333;
    border-top: .1rem solid rgba(255,255,255,.2);
    padding:1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a{
    display: block;
    border-radius: .5rem;
    padding:1.5rem;
    margin:1.5rem 0;    
    background:#222;
  }

}

@media (max-width:450px){

  html{
    font-size: 50%;
  }

  .heading span{
    font-size: 2.5rem;
  }

  .contact .row form .inputBox input{
    width:100%;
  }

}